/***** Colors: Blue *****/

$blue-900: #060040;
$blue-800: #030380;
$blue-700: #08109c;
$blue-600: #1836ce;
$blue-500: #2a52e2;
$blue-400: #6291ef;
$blue-300: #83aff4;
$blue-200: #c7e1fb;
$blue-100: #eaf5fe;

/***** Colors: Red *****/

$red-900: #610a3b;
$red-800: #881348;
$red-700: #b01e51;
$red-600: #d22d58;
$red-500: #ef3e5e;
$red-400: #f36a73;
$red-300: #f79b96;
$red-200: #fbccc3;
$red-100: #fef4ef;

/***** Colors: Yellow *****/

$yellow-100: #fef3c7;
$yellow-200: #fde68a;
$yellow-300: #fcd34d;
$yellow-400: #fbbf24;
$yellow-500: #f59e0b;
$yellow-600: #d97706;
$yellow-700: #b45309;
$yellow-800: #92400e;
$yellow-900: #78350f;

/***** Colors: Purple *****/

$purple-100: #ede9fe;
$purple-200: #ddd6fe;
$purple-300: #c4b5fd;
$purple-400: #a78bfa;
$purple-500: #8b5cf6;
$purple-600: #7c3aed;
$purple-700: #6d28d9;
$purple-800: #5b21b6;
$purple-900: #4c1d95;

/***** Colors: Pink *****/

$pink-100: #fce7f3;
$pink-200: #fbcfe8;
$pink-300: #f9a8d4;
$pink-400: #f472b6;
$pink-500: #ec4899;
$pink-600: #db2777;
$pink-700: #be185d;
$pink-800: #9d174d;
$pink-900: #831843;

/***** Colors: Green *****/

$green-900: #00151b;
$green-800: #034549;
$green-700: #09736a;
$green-600: #129a7c;
$green-500: #24bd85;
$green-400: #4dd39c;
$green-300: #7fe5b6;
$green-200: #b4f2d3;
$green-100: #edfdf4;

/***** Colors: Gray *****/

$gray-900: #141414;
$gray-840: #1b1a1a;
$gray-830: #1f1f22;
$gray-820: #29292c;
$gray-810: #2f2f33;
$gray-800: #3c3c42;
$gray-700: #63626b;
$gray-600: #8a8894;
$gray-500: #b2aebc;
$gray-400: #c3c0cd;
$gray-300: #d4d2dd;
$gray-200: #f0f0f5;
$gray-100: #f9f9fb;

/***** Colors: Primary *****/

$primary-900: var(--primary-900);
$primary-800: var(--primary-800);
$primary-700: var(--primary-700);
$primary-600: var(--primary-600);
$primary-500: var(--primary-500);
$primary-400: var(--primary-400);
$primary-300: var(--primary-300);
$primary-200: var(--primary-200);
$primary-100: var(--primary-100);

/***** Colors: Misc *****/

$white: #ffffff;
$black: #000000;
